@import "mixin";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff;
  color: #333;
  &.hidden,
  &.popup-hidden {
    overflow: hidden;
  }
}

/* 맨위로 버튼 */
.gototop {
  position: fixed;
  border: 3px solid #20a1fd;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(30px);
  opacity: 0;
  transition: 0.5s;
  &:before {
    content: "\f062";
    position: absolute;
    font-family: fontawesome;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #20a1fd;
  }
}

/* 마우스 따라다니기 */
.cursor {
  display: none;
}

.text-out {
  position: absolute;
  left: -9999px;
}

section {
  overflow: hidden;
}

.inner {
  @include center(calc(100% - 60px), 1500px);
}

/* 로딩중 표시 */

.before-load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  background: white;
  opacity: 0;
  transition: 0.5s;
  img {
    width: 10rem;
  }
  @keyframes loading-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loading-circle-ani {
    0% {
      stroke-dashoffset: 158;
    }
    75% {
      stroke-dashoffset: -147;
    }
    100% {
      stroke-dashoffset: -157;
    }
  }
}

@media (min-width: 800px) {
  html {
    font-size: 80.5%;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 70.5%;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 50%;
  }
}

/**** PC ****/
@media (min-width: 1024px) {
  html {
    font-size: 85%;
  }

  /* 마우스 따라다니기 */
  .cursor {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    pointer-events: none;
    z-index: 300;
    img {
      width: 100%;
    }
  }
}
